.top {
  display: flex;
  justify-content: space-between;
}
.leftright {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.username {
  display: flex;
  justify-content: center;
  align-items: center;
}
.password {
  display: flex;
  justify-content: center;
  align-items: center;
}
